@import "./pulldown_latex.css";
@import "./code.css";

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --terminal-red: #f7768e;
  --number-boolean-constants: #ff9e64;
  --function-parameters: #e0af68;
  --parameters-inside-functions: #cfc9c2;
  --strings-css-class-names: #9ece6a;
  --object-literal-keys: #73daca;
  --regex-literal-strings: #b4f9f8;
  --language-support-functions: #2ac3de;
  --object-properties: #7dcfff;
  --function-names: #7aa2f7;
  --control-keywords: #bb9af7;
  --variables-class-names: #c0caf5;
  --editor-foreground: #a9b1d6;
  --markdown-html-text: #9aa5ce;
  --comments: #565f89;
  --terminal-black: #414868;
  --editor-background-storm: #24283b;
  --editor-background-night: #1a1b26;
}

body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background-color: var(--editor-background-night);
  background-image:
    linear-gradient(rgba(26, 27, 38, 0.85), rgba(26, 27, 38, 0.85)),
    url("https://images.unsplash.com/photo-1628818144466-856f7d477125?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;         /* scale image to cover viewport */
  background-position: center;    /* center the image */
  background-repeat: no-repeat;   /* no tiling */
  background-attachment: fixed;   /* optional: parallax-like */
  color: var(--variables-class-names);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem 20%;
  position: sticky;
  line-height: 1.5;
}

header {
  /* background: var(--editor-background-storm); */
  background: rgba(36, 40, 59, 0.5);
  color: var(--variables-class-names);
  padding: 1rem 20%;
  position: sticky;
  z-index: 1000;
  font-size: 1.25rem;
}

footer {
  /* background: var(--editor-background-storm); */
  background: rgba(36, 40, 59, 0.5);
  color: var(--variables-class-names);
  text-align: center;
  padding: 1rem;
}

hr {
  color: var(--function-names);
  border-color: var(--function-names);
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 2rem;
}

header nav ul li {
  display: inline;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: var(--object-properties);
  margin-bottom: 1rem;
}

hr {
  color: var(--function-names);
  border-color: var(--function-names);
}


p {
  color: var(--variables-class-names);
}

pre {
  font-family: "JetBrains Mono", monospace;
  background-color: rgba(36, 40, 59, 0.5);
  padding: 0.75rem 0.75rem;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: pre;
  line-height: 1.375;
}

code {
  font-family: "JetBrains Mono", monospace;
}

math {
  overflow-x: auto;
  overflow-y: clip;
  max-width: 100%;
}

math[display="block"] {
  font-size: 115%;
  margin: 1rem 1rem;
}

p code,
span code {
  white-space: nowrap;
  display: inline;
}

pre code {
  white-space: pre;
  Display: block;
}

blockquote {
  border-left: 5px solid var(--control-keywords);
  margin: 1rem 0;
  padding-left: 1rem;
}

ul,
ol {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  list-style-position: outside;
  padding-left: 0rem;
  margin-left: 1rem;
}

li {
  padding-left: 0.5rem;
}

a,
a * {
  color: var(--function-names);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
    max-width: 100%;
}

.class {
    color: var(--object-literal-keys); 
}

@media (max-width: 768px) {
  header,
  footer,
  main {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  math {
    font-size: 100%;
    max-width: 100%;
    margin-left: 0;
  }
}
