<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{TITLE}} | Sachith Shetty</title>
        <link rel="canonical" href="https://shettysach.github.io/{{URL}}" />
        <meta name="author" content="Sachith Shetty" />
        <meta name="description" content="{{DESCRIPTION}}" />
        <meta name="keywords" content="{{TAGS}}" />
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        <link rel="icon" href="/favicon.ico" sizes="any" />

        <!-- OpenGraph -->
        <meta property="og:title" content="{{TITLE}} | Sachith Shetty" />
        <meta property="og:description" content="{{DESCRIPTION}}" />
        <meta
            property="og:url"
            content="https://shettysach.github.io/{{URL}}"
        />
        <meta property="og:type" content="article" />

        <meta
            property="og:image"
            content="https://shettysach.github.io/preview.jpg"
        />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:image:alt" content="Blogpost" />

        <!-- Twitter -->
        <meta name="twitter:title" content="{{TITLE}} | Sachith Shetty" />
        <meta name="twitter:description" content="{{DESCRIPTION}}" />
        <meta name="twitter:site" content="@shettysach_" />
        <meta name="twitter:creator" content="@shettysach_" />
        <meta
            name="twitter:image"
            content="https://shettysach.github.io/preview.jpg"
        />
        <meta name="twitter:card" content="summary" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&family=Lora:ital@0;1&family=Work+Sans:ital@0;1&display=swap"
            rel="stylesheet"
        />

        <!-- pulldown-latex -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/carloskiki/pulldown-latex@latest/styles.min.css"
        />
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/gh/carloskiki/pulldown-latex@latest/font/"
            as="font"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <nav>
                <a href="/index.html">Home</a>
                <a href="/articles.html">Articles</a>
                <a href="/tags.html">Tags</a>
                <a href="/atom.xml">Atom</a>
            </nav>
        </header>

        <main>
        <article>
